<div>
  <img id="logo" src="images/saman-logo.png">
  
  <div style="display: block; text-align: center;">
    <form>
      <label style="margin-top: 10px;">Usuario:</label>
      <input type="text" name="usario" placeholder="Ingrese su número de cédula">
      <label>Contraseña: </label>
      <input type="text" name="lastname" placeholder="Ingrese su contraseña">
      <br>
      <br>
      <div style="text-align: right;">
        <input type="submit" value="Enviar">
      </div>
    </form>
  </div>
</div>