<div style="text-align: center">
  <h1 style="color: white">Sign Up:</h1>
  <form action="" method="POST">
    <label>Primer Nombre</label>
    <input type="text" name="primerNombre" placeholder="Primer Nombre">

    <label>Segundo Nombre</label>
    <input type="text" name="segundoNombre" placeholder="Segundo Nombre">

    <label>Primer Apellido</label>
    <input type="text" name="primerApellido" placeholder="Primer Apellido">

    <label>Segundo Apellido</label>
    <input type="text" name="segundoApellido" placeholder="Segundo Apellido">

    <label>Cedula</label>
    <input type="number" name="cedula" placeholder="Cedula">

    <label>Carnet</label>
    <input type="number" name="carnet" placeholder="Carnet">

    <label>Numero de Casa</label>
    <input type="number" name="nroCasa" placeholder="Numero de Casa">

    <label>Urbanizacion</label>
    <input type="text" name="urb" placeholder="Urbanizacion">

    <label>Calle</label>
    <input type="text" name="calle" placeholder="Calle">

    <label>Municipio</label>
    <input type="text" name="mun" placeholder="Municipio">

    <label>Contrasena</label>
    <input type="number" name="pass" placeholder="Contrasena">

    <label>email</label>
    <input type="email" name="email" placeholder="email">

    <input type="submit" value="Registrar">
  </form>
</div>
